@import "tailwindcss";
@plugin "daisyui";

.all-color {
  background: #1e1e1e;
}

.box {
  height: 250px;
  width: 250px;
  background-color: rgba(138, 43, 226, 0.8);
  filter: blur(200px);


  animation: anime 3s ease-in-out infinite;
  animation-duration: 5s;
  animation-delay: 4s;
  position: absolute;
}
/* translate work x and y */

@keyframes anime {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(100px);
  }
  50% {
    transform: translate(250px);
    background-color: rgb(17, 86, 223);

    filter: blur(170px);
    filter: brightness("100");
  }
  100% {
    transform: translate(550px);
   
  }
}


