@import "tailwindcss";
@plugin "daisyui";

.all-color {
  background: #1e1e1e;
}

.box {
  height: 200px;
  width: 200px;
  background-color: rgba(138, 43, 226, 0.8);
  filter: blur(200px);

  border: 2px solid red;
  animation: anime 3s ease-in-out infinite ;
  animation-duration: 5s;
  animation-delay: 4s;

}
/* translate work x and y */

@keyframes anime {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(100px);

   
  }
  50% {
    transform: translate(250px);
    background-color: rgb(17, 86, 223);
    
    filter: blur(150px);
    filter: brightness("100");
  }
  100% {
    transform: translate(450px);
  }
 
}
